@charset "UTF-8";

.container {
  width: 1100px;
  margin: 0 auto;
}

.q1--red {
  width: 400px;
  height: 400px;
  background: #ff0000;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .q1--red {
    width: 200px;
    height: 200px;
  }
}

.q2--red {
  background: #ff0000;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .q2--red {
    background: #007bff;
  }
}

.q3--flex {
  display: flex;
  justify-content: center;
}

.q3--blue {
  background: #0008ff;
  width: 300px;
  height: 300px;
  margin-right: 150px;
}

.q3--green {
  background: #22ff00;
  width: 300px;
  height: 300px;
}

@media screen and (max-width:960px) {
  .q3--blue {
    margin-right: 50px;
  }
}

.q4 {
  position: relative;
  overflow: hidden;
}

.q4 ul {
  position: relative;
  left: 50%;
  float: left;
}

.q4 ul li {
  position: relative;
  left: -50%;
  float: left;
}

.q4--red {
  width: 300px;
  height: 300px;
  background: #ff0000;
}

.q4--blue {
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.q5--red {
  width: 300px;
  height: 300px;
  background: #ff0000;
}

.q5--blue {
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.q5--orange {
  width: 300px;
  height: 300px;
  background: #ff8400;
}

.q5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  text-align: center;
  line-height: 300px;
}

@media screen and (max-width: 960px) {
  .q5--red {
    order: 3;
  }
  .q5--blue {
    order: 2;
  }
  .q5--orange {
    order: 1;
  }
}

.q6 {
  display: flex;
  justify-content: center;
}

.q6--green {
  width: 300px;
  height: 300px;
  background: #00ff51;
}

.q6--yellow {
  width: 300px;
  height: 300px;
  background: #d4ff00;
}

.q6--pink {
  width: 300px;
  height: 300px;
  background: #ff00e1;
}

@media screen and (max-width:960px) {
  .q6--green {
    order: 2;
  }
  .q6--yellow {
    order: 3;
  }
  .q6--pink {
    order: 1;
  }
}

.q7 {
  display: flex;
  justify-content: center;
}

.q7--blue {
  width: 300px;
  height: 300px;
  background: #0008ff;
  display: none;
}

.q7--red {
  width: 300px;
  height: 300px;
  background: #ff0000;
}

.q7--green {
  width: 300px;
  height: 300px;
  background: #00ff51;
}

@media screen and (max-width:960px) {
  .q7--blue {
    display: block;
  }
  .q7--red {
    display: none;
  }
}